* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section,
header,
main {
    width: 100%;
    height: 100vh;
}

header {
    background-image: url("assets/Desktop_Backgrounds_1920x1200_6\ 3bg1.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 10%;
}

.span1 {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

ul li:hover {
    border-bottom: 2px solid white;
}

nav {
    display: inline-flex;
    width: 90%;
    justify-content: center;
}

.h1 {
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.h2 {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
    text-align: center;
}

.headline {
    height: 115%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

main {
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 50px;
    height: 50px;
}
    
.logo1 {
    position: absolute;
    top: 25%;
    animation-duration: 1.5s;
    animation-name: rotating;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes rotating {
    from {
        width: 50px;
        height: 50px;
    }

    to {
        width: 80px;
        height: 80px;
        transform: rotateY(180deg);
    }
}
#heading1 {
    color: #464547;
    font-weight: 700;
    font-size: 48px;
    width: 50%;
    text-align: center;
}

#heading3 {
    font-weight: 400;
    font-size: 24px;
    color: #666666;
    width: 35%;
    text-align: center;
}

#text {
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
}

#text p {
    font-weight: 400;
    font-size: 16px;
    width: 35%;
    color: #666666;
}

section {
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    border-radius: 100px;
    background-color: #55C2D8;
    color: white;
    border: none;
}

#button1 {
    height: 40px;
    width: 90px;
    transition: transform 1.5s;
}
#button1:hover{
    transform: rotate(20deg);
    transform-origin: left ;
}

section {
    background-image: url("assets/Rectangle\ 5bg2.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section .h2 {
    width: 30%;
}

#button2 {
    width: 100px;
    height: 100px;
    font-size: xx-large;
    transition: width 1s, height 1s, background-color 1s , color 1s;

}
#button2:hover{
    background-color: white;
    width: 90px;
    height: 90px;
    color: rgb(0, 170, 255);
}

footer {
    background-color: #464547;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: rgba(255, 255, 255, 0.4)
}

[alt="logo2"] {
    width: 20px;
    height: 20px;
}

#project {
    display: flex;
}

#project p {
    font-weight: 400;
    font-size: 18px;
    margin-left: 8%;
}


.contacts {
    color: rgba(255, 255, 255, 0.4)
}

@media(min-width:768px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer>p {
        align-self: flex-end;
    }
}

@media(max-width: 768px) {
    nav {
        display: none;
    }

    .span1::after {
        margin-left: 85%;
        content: "\2630";
    }

    main {
        height: max-content;
        padding: 5%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}